@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind base layer customization */
@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .bg-custom {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    body:not(.dark) .bg-custom {
        background-image: url('../public/img/background1.webp'); /* 라이트 모드 배경 이미지 */
    }

    body.dark .bg-custom {
        background-image: url('../public/img/background1.webp'); /* 다크 모드 배경 이미지 */
    }

    .custom-cursor {
        cursor: url('/cursor/pointer-light.png'), auto;
    }

    .custom-hover-cursor:hover {
        cursor: url('/cursor/link-light.png'), auto;
    }

    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: var(--background);
        --card-foreground: var(--foreground);
        --popover: var(--background);
        --popover-foreground: var(--foreground);
        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: var(--primary);
        --muted: var(--secondary);
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: var(--secondary);
        --accent-foreground: var(--primary);
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: var(--primary-foreground);
        --border: 214.3 31.8% 91.4%;
        --input: var(--border);
        --ring: var(--foreground);
        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: var(--background);
        --card-foreground: var (--foreground);
        --popover: var(--background);
        --popover-foreground: var(--foreground);
        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: var(--primary);
        --muted: var(--secondary);
        --muted-foreground: 215 20.2% 65.1%;
        --accent: var(--secondary);
        --accent-foreground: var(--primary);
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: var(--primary-foreground);
        --border: var(--secondary);
        --input: var(--border);
        --ring: 212.7 26.8% 83.9%;
    }

    .toggle-checkbox:checked {
        @apply right-0 border-green-400;
        right: 0;
        border-color: #68d391;
    }

    .toggle-checkbox:checked + .toggle-label {
        @apply bg-green-400;
        background-color: #68d391;
    }
}
